@model IEnumerable<Tortoise1._0.Models.BuyCustomer>

@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                GST Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
        @using(Html.BeginForm("GetFolder","BuyFolders", FormMethod.Get)){
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CGstNo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                        <input type="hidden" name="id" value=@item.Id />
                        <td><input class="btn btn-danger" type="submit" value="Get Folder"></td>
                    </tr>
            }
        }
    </tbody>
</table>
